/Projetos Praticos/PrimeiroFormulario/nbproject/private/
/Projetos Praticos/PrimeiroFormulario/build/
/Projetos Praticos/FormularioDVD/nbproject/private/
/Projetos Praticos/FormularioDVD/build/
/Projetos Praticos/FormularioProduto/nbproject/private/
/Projetos Praticos/FormularioProduto/build/
/Projetos Praticos/CalculadoraWeb/nbproject/private/
/Projetos Praticos/CalculadoraWeb/build/
/Projetos Praticos/TamanhoString/nbproject/private/
/Projetos Praticos/TamanhoString/build/
/Projetos Praticos/EhPrimo/nbproject/private/
/Projetos Praticos/EhPrimo/build/
/Projetos Praticos/EquacaoSegundoGrau/nbproject/private/
/Projetos Praticos/EquacaoSegundoGrau/build/
