/Projetos Praticos/PrimeiroFormulario/nbproject/private/
/Projetos Praticos/PrimeiroFormulario/build/
/Projetos Praticos/FormularioDVD/nbproject/private/
/Projetos Praticos/FormularioDVD/build/
/Projetos Praticos/FormularioProduto/nbproject/private/
/Projetos Praticos/FormularioProduto/build/
/Projetos Praticos/CalculadoraWeb/nbproject/private/
/Projetos Praticos/CalculadoraWeb/build/
/Projetos Praticos/TamanhoString/nbproject/private/
/Projetos Praticos/TamanhoString/build/
/Projetos Praticos/EhPrimo/nbproject/private/
/Projetos Praticos/EhPrimo/build/
/Projetos Praticos/EquacaoSegundoGrau/nbproject/private/
/Projetos Praticos/EquacaoSegundoGrau/build/
/Projetos Praticos/ExercicioEdinhoProcess/nbproject/private/
/Projetos Praticos/ExercicioEdinhoProcess/build/
/Projetos Praticos/Aula03/nbproject/private/
/Projetos Praticos/Aula03/build/
/Projetos Praticos/PrimeiroFormularioEL/nbproject/private/
/Projetos Praticos/PrimeiroFormularioEL/build/
/Projetos Praticos/FormularioDVD_EL/nbproject/private/
/Projetos Praticos/FormularioDVD_EL/build/
/Projetos Praticos/JSPTrataFormulario/nbproject/private/
/Projetos Praticos/JSPTrataFormulario/build/
/Projetos Praticos/TabelaArbitraria/nbproject/private/
/Projetos Praticos/TabelaArbitraria/build/
/Projetos Praticos/Aula03-ExpressionLanguage/nbproject/private/
/Projetos Praticos/Aula03-ExpressionLanguage/build/
/Projetos Praticos/PadroesEmPratica/nbproject/private/
/Projetos Praticos/PadroesEmPratica/dist/
/Projetos Praticos/PadroesEmPratica/build/
/Projetos Praticos/fruta/nbproject/private/
/Projetos Praticos/Projeto4.2/nbproject/private/
/Projetos Praticos/Projeto4.2/build/
/Projetos Praticos/fruta/build/
/Projetos Praticos/Projeto4.3/nbproject/private/
/Projetos Praticos/Projeto4.3/build/
/Projetos Praticos/Projeto4.1/nbproject/private/
/Projetos Praticos/CadastroClientes/nbproject/private/
/Projetos Praticos/CadastroClientes/build/
/Projetos Praticos/LocacaoDVDs/nbproject/private/
/Projetos Praticos/LocacaoDVDs/build/
/Projetos Praticos/frutaWebJS/nbproject/private/
/Projetos Praticos/frutaWebJS/build/
/Projetos Praticos/CarroWebJS/nbproject/private/
/Projetos Praticos/CarroWebJS/build/
/Projetos Praticos/ProdutoWebJS/nbproject/private/
/Projetos Praticos/ProdutoWebJS/build/
